<% include ../partials/header %>

<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-md-4">
      <h1 class="text-center">
        <%= links[1].author.username %>'s Links
      </h1>
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-md-4">
      <% links.forEach(function(link){ %>
      
        <a class="btn btn-primary btn-block" href="<%= link.text %>" role="button"><%= link.name %></a>
           <!--&& link.author.id.equals(loggedUser._id)-->
           
          <% if (currentUser&& currentUser._id.equals(currentUser._id)){ %>
          <a class="btn btn-xs btn-warning" href="/<%= currentUser.username %>/<%= link._id %>/edit">Edit</a>
          <form id="delete-form" action="/<%= currentUser.username%>/<%= link._id %>?_method=DELETE" method="POST">
            <button class="btn btn-xs btn-danger"><i class="far fa-trash-alt"></i>Delete</button>
          </form>
            
        <% } %>

      <% }); %>
      
      <% if (currentUser){ %>
      <a class="btn btn-success" href="/<%= currentUser.username %>/new">Add New Link</a>
       <% } %>
    </div>
  </div>

</div>

<% include ../partials/footer %>