<% include ../partials/header %>

<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-md-4 pt-4">
      <h1 class="text-center pb-2 porfileName">
        <% if(!thisUser.displayName){ %>
            <%= username %>'s Links
          <% } else { %>
          <%= thisUser.displayName %>
          <% } %>
      </h1>
      <img src="<%= thisUser.avatar%>" class="profilePic">
    </div>
  </div>
  <div class="row justify-content-center align-items-center profileInfoRow">
    <div class="col-12 col-md-4 profileInfoBox">
      <div class="location">
        <span class="icon"><i class="fas fa-map-pin"></i></span>
        <%=thisUser.location%>
      </div>
      <div>
        <p class="bio"><%= thisUser.bio%></p>
      </div>
      
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-md-4">
      <% links.forEach(function(link){ %>
      
      <form id="links-form" action="/<%= username %>/<%= link._id %>" method="POST">
        <button type="submit" class="btn btn-primary mainBtn"><%= link.name %></button>
      </form>
    
      <% }); %>

    </div>
  </div>

</div>

  
<script>
  var defaultBackground = "background: #6190E8;  /* fallback for old browsers */ background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */  background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ "
  
  function myFunction() {
  // document.body.style.background = "#a8ff78";
  try {
    document.body.style = "<%=  thisUser.themeColor %>";
  } catch(err) {
    console.log("There is no color assigned to user will assign default color", err);
    document.body.style = defaultBackground;
  }
  
}

myFunction();
</script>

<% include ../partials/footer %>